.Timer-container {
  display: flex;
  justify-content: center;
}

.Timer-text {
  color: black;
  font-family: 'Barlow', sans-serif;
  font-size: 10rem;
  margin: 5rem;
  text-shadow: 5px 5px 5px #ffffff;
}