.Timer-container {
  display: flex;
  justify-content: center;
}

.Timer-text {
  color: #754260;
  font-family: 'Barlow', sans-serif;
  font-size: 10rem;
  margin: 5rem;
  text-shadow: 7px 7px 7px #ffffff;
}