.GoalsButtons-container {
  display: flex;
  justify-content: center;
}

.goal-button {
  border: none;
  width: 50rem;
  height: 3rem;
  margin: 10px;
  background-color: rgb(230, 227, 227);
  color: #4A6C6F;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgba(63, 88, 87, 0.589);
  border-radius: 7px;
  font-family: 'Raleway';
}

.disabled-button {
  border: none;
  width: 50rem;
  height: 3rem;
  margin: 10px;
  background-color: rgb(206, 206, 206);
  color: rgb(168, 180, 180);
  font-size: 20px;
  border-radius: 7px;
  font-family: 'Raleway';
  -moz-box-shadow:    inset 0 0 10px rgba(63, 88, 87, 0.589);
  -webkit-box-shadow: inset 0 0 10px rgba(63, 88, 87, 0.589);
  box-shadow:         inset 0 0 10px rgba(63, 88, 87, 0.589);
}