.GoalsPage-container {
  display: flex;
  justify-content: center;
}

#goals-list-container {
  display: flex;
  flex-wrap: wrap;
}

.goals-ul {
  margin-left: 7rem;
  margin-top: 0;
  max-width: 700px;
}

form {
  width: 400px;
}

